:root {
  --duration: 1s;
}
.logoContainer {
  font-family: "Lilita One";
  font-size: 4rem;
  display: flex;
  user-select: none;
}
.logoContainer:hover .seven {
  animation: flippy 2s infinite cubic-bezier(1, -0.12, 0, 1.08);
}
.seven {
  color: orangered;
  animation: flippy 2s 3 cubic-bezier(1, -0.12, 0, 1.08);
}
.navContainer {
  display: flex;
  position: relative;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}
.navLinksContainer {
  display: none;
  list-style: none;
}
.navLinksContainer li {
  cursor: pointer;
}
.hamburgerMenu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  align-items: flex-end;
}
.hamburgerMenu > div {
  height: 0.2rem;
  background-color: black;
  margin: 0.2rem 0;
  user-select: none;
  z-index: 6;
  transition: all 0.25s;
}
.hamFirst {
  width: 2rem;
}
.hamSecond {
  width: 1.5rem;
}
.hamThird {
  width: 1rem;
}
.hid {
  width: 100%;
  height: 100%;
  background-color: black;
}
.menuOpen .hamFirst {
  width: 0.8rem;
  transform: translate(-0.1rem, 0.1rem) rotate(-45deg);
}
.menuOpen .hamThird {
  width: 0.8rem;
  transform: translate(-1.1rem, -0.1rem) rotate(-45deg);
}
.menuOpen .hamSecond {
  width: 2rem;
  transform: rotate(45deg);
}
@keyframes open {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}
.mobileMenu {
  height: 100vh;
  width: 100vw;
  background-color: white;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  animation: menuAnim 0.5s;
}
.mobileMenu ul li:first-child {
  animation: slide 0.5s;
}
.mobileMenu ul li:nth-child(2) {
  animation: slide 0.75s;
}
.mobileMenu ul li:nth-child(3) {
  animation: slide 1s;
}
.mobileMenu ul li:nth-child(4) {
  animation: slide 1.25s;
}
.mobileMenu ul li:nth-child(5) {
  animation: slide 1.5s;
}
@keyframes slide {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
}
@keyframes menuAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.mobileMenuContainer {
  display: flex;
  height: 100%;
  align-items: center;
}

.mobileMenuContainer > ul {
  list-style: none;
}
.mobileMenuContainer > ul li {
  font-size: 3rem;
  background-color: orangered;
  padding: 0.5rem;
  margin: 0.5rem;
}
@keyframes flippy {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(-1);
  }
  100% {
    transform: scaleX(1);
  }
}

@media screen and (min-width: 1024px) {
  .navContainer {
    padding: 0 2rem;
    margin: 2rem;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 2rem;
  }
  .navContainer:hover {
    background-color: rgba(255, 255, 255, 0.9);
  }
  .navLinksContainer {
    display: flex;
    list-style: none;
  }
  .navMobile {
    display: none;
  }
}
.block {
  background-color: brown;
}
