.container {
  user-select: none;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid silver;
}
.selectContainer {
  display: flex;
}
.label {
  width: 3rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border: 2px solid silver;
}
.input {
  width: 50%;
}
.options {
  position: absolute;
  list-style: none;
  background-color: green;
}
.options > li {
  padding: 0.5rem 1rem;
}
.firstContainer,
.secondContainer {
  padding: 1rem 0;
}
