* {
  margin: 0;
  user-select: none;
}
body {
  /* Ocean Theme */
  /* background-color: #1a1c4d; */
  /* Nature Theme */
  /* background-color: #003300; */
  /* Space Theme */
  /* background-color: #000; */
  /* Candy land */
  background-color: #ffb3d1;
}
