.coverContainer {
  width: 10rem;
}
.image {
  width: 100%;
}
.name {
  color: white;
}
.albumContainer {
  width: 80%;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  margin: auto;
}
.listen {
  color: white;
  font-size: 2rem;
}
@media screen and (min-width: 1024px) {
  .albumContainer {
    grid-template-columns: repeat(5, 1fr);
  }
}
