.container {
  color: white;
  padding: 1rem;
  padding-top: 10rem;
}
.title {
  color: white;
  font-family: "Anton", sans-serif;
  font-size: 2rem;
}
.title + p {
  padding: 1rem 0;
  padding-bottom: 3rem;
}
@media screen and (min-width: 1024px) {
  .container {
    padding: 2rem;
    padding-top: 10rem;
  }
}
