[data-theme="space-theme"] {
  /* Space Theme */
  --bgColor: #000066;
}
[data-theme="candy-land"] {
  /* Candy Land */
  --bgColor: #ff99cc;
}
[data-theme="nature-theme"] {
  /* Nature Theme */
  --bgColor: #99cc99;
}
[data-theme="ocean-theme"] {
  /* Ocean Theme */
  --bgColor: #4d88ff;
}
.container {
  color: white;
  padding: 1rem;

  background-color: var(--bgColor);
}
.logo {
  font-size: 2rem;
}
.linkContainer > ul {
  list-style: none;
  display: flex;
}
.linkContainer > ul > li {
  padding: 1rem;
  cursor: pointer;
}
