:root {
  --cellSize: 2.5rem;
  /* Ocean Theme */
  /* --thickBorder: #000066;
  --thinBorder: #00bfff;
  --occupiedCellColor: #fff;
  --emptyCellColor: #b3d1ff;
  --highlightedCellColor: #00e6e6aa;
  --selectedCellColor: #80c1ffaa; */

  /* Nature Theme */
  --bodyBgColor: #003300;
  --navBgColor: #99cc99;
  --thickBorder: #003300;
  --thinBorder: #669966;
  --occupiedCellColor: #fff;
  --emptyCellColor: #ccffcc;
  --highlightedCellColor: #00cc00aa;
  --selectedCellColor: #b3d9ffaa;

  /* Space Theme */
  --bodyBgColor: #000000;
  --navBgColor: #000066;
  --thickBorder: #330033;
  --thinBorder: #c0c0c0;
  --occupiedCellColor: #f0f0f0;
  --emptyCellColor: #333333;
  --highlightedCellColor: #800080aa;
  --selectedCellColor: #0000ffaa;

  /* Candy land */
  --bodyBgColor: #ffb3d1;
  --navBgColor: #ff99cc;
  --thickBorder: #ff1493;
  --thinBorder: #98fb98;
  --occupiedCellColor: #fff;
  --emptyCellColor: #ffccff;
  --highlightedCellColor: #e6e6faaa;
  --selectedCellColor: #ff6b6baa;
}
.wrapper {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  margin: auto;
  margin-top: 2rem;
}
.levelClockContainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.container {
  width: fit-content;
  position: relative;
  box-sizing: border-box;
  display: flex;
}
.sudokuCell {
  width: var(--cellSize);
  height: var(--cellSize);
  border: 1px solid var(--thinBorder);
}
.sudokuCell > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.occupied {
  background-color: var(--occupiedCellColor);
}
.empty {
  background-color: var(--emptyCellColor);
}
.highlighted {
  background-color: var(--highlightedCellColor);
}
.selected {
  background-color: var(--selectedCellColor);
}
.hLine1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--thickBorder);
}
.hLine4 {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--thickBorder);
}
.hLine2 {
  position: absolute;
  top: calc(var(--cellSize) * 3 + 3px);
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--thickBorder);
}
.hLine3 {
  position: absolute;
  bottom: calc(var(--cellSize) * 3 + 3px);
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--thickBorder);
}
.vLine1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 2px;
  background-color: var(--thickBorder);
}
.vLine4 {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 2px;
  background-color: var(--thickBorder);
}
.vLine2 {
  position: absolute;
  top: 0;
  left: calc(var(--cellSize) * 3 + 3px);
  height: 100%;
  width: 2px;
  background-color: var(--thickBorder);
}
.vLine3 {
  position: absolute;
  top: 0;
  right: calc(var(--cellSize) * 3 + 3px);
  height: 100%;
  width: 2px;
  background-color: var(--thickBorder);
}
.controller {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(9, calc(var(--cellSize)));
  grid-template-rows: var(--cellSize);
  font-size: 1rem;
  justify-content: center;
  gap: 0.2rem;
}
.controllerBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--occupiedCellColor);
  cursor: pointer;
}
.controllerBtn:hover {
  background-color: var(--highlightedCellColor);
}
.controllerBtn:active {
  background-color: var(--highlightedCellColor);
}
.btnContainer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 1rem;
}
.btnContainer > button {
  padding: 1rem;
  border: 2px solid white;
  background-color: var(--navBgColor);
}
.btnContainer > button:active {
  background-color: black;
}
@media screen and (min-width: 1024px) {
  .wrapper {
    flex-direction: row;
    align-items: flex-end;
    gap: 1rem;
  }
  .controller {
    font-size: 2rem;
    grid-template-columns: repeat(3, calc(var(--cellSize) * 2));
    grid-template-rows: repeat(3, calc(var(--cellSize) * 2));
  }
}
